body {
      background: linear-gradient(135deg, #00a1de, #fcd116, #20603d);
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}
.login-card {
      background: white;
      padding: 2rem;
      border-radius: 1rem;
      max-width: 400px;
      width: 100%;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.login-card h3 {
      text-align: center;
      margin-bottom: 1rem;
      color: #00a1de;
}
.role-select {
      margin-bottom: 1rem;
}
.btn-login {
      background-color: #00a1de;
      color: white;
      font-weight: bold;
}
.btn-login:hover {
      background-color: #0079a5;
}
#showDisrict{
      display: none;
}
